h1:first-child {
  display: none;
}

h1 {
  margin-top: 0;
}

.urlList li {
  list-style: none;
  display: inline-block;
  margin: 0;
}

.urlList li a {
  padding: 8px 10px;
  display: inline-flex;
  align-items: center;
  transition: all .2s linear;
}

.urlList li a:hover {
  box-shadow: 0 0 10px #999;
}

.urlList li a img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}